<div id="modal_frozen_balance_list_datatable" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="min-height: 590px;">
            <div class="modal-header">
                <h5 class="modal-title">
                    冻结中的款项
                    <small>追踪商户冻结中的款项</small>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-fit">

                <!--begin: Datatable -->
                <div id="datatable_frozen_balance"></div>

                <!--end: Datatable -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-clean btn-bold btn-upper btn-font-sm" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>