@model WebMVC.ViewModels.SystemConfigurationViewModels.SystemNotificationSoundViewModel

@{
    ViewData["Title"] = "SystemNotificationSound";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    提示音
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <div class="kt-subheader__group" id="kt_subheader_search">
                    <span class="kt-subheader__desc" id="kt_subheader_total">
                        设置系统提示音
                    </span>
                </div>
            </div>
            <div class="kt-subheader__toolbar">
                <a href="#" class="btn btn-default btn-bold" onclick="ReturnPreviousPage()">
                    返回
                </a>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <!--Begin:: Portlet-->
        <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#kt_apps_contacts_view_tab_2" role="tab">
                                <i class="flaticon2-calendar-3"></i> 提示音
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="tab-content  kt-margin-t-20">

                    <!--Begin:: Tab Content-->
                    <div class="tab-pane active" id="kt_apps_contacts_view_tab_2" role="tabpanel">
                        <form asp-controller="SystemConfiguration" asp-action="SystemNotificationSound" id="kt_system_systemnotificationsound_form" class="kt-form kt-form--label-right" method="post">
                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">提示音设置将套用到整个平台:
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label">提现</label>
                                            <div class="col-3">
                                                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                    <label>
                                                        <input asp-for="Withdraw" type="checkbox" name="withdraw">
                                                        <span></span>
                                                    </label>
                                                </span>
                                                <span class="form-text text-muted">新提现申请是否弹出提示音。</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label">入金</label>
                                            <div class="col-3">
                                                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                    <label>
                                                        <input asp-for="Deposit" type="checkbox" name="deposit">
                                                        <span></span>
                                                    </label>
                                                </span>
                                                <span class="form-text text-muted">新入金申请是否弹出提示音。</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label">会员</label>
                                            <div class="col-3">
                                                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                    <label>
                                                        <input asp-for="Member" type="checkbox" name="member">
                                                        <span></span>
                                                    </label>
                                                </span>
                                                <span class="form-text text-muted">新会员申请是否弹出提示音。</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label">二维码</label>
                                            <div class="col-3">
                                                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                    <label>
                                                        <input asp-for="QrCode" type="checkbox" name="qrCode">
                                                        <span></span>
                                                    </label>
                                                </span>
                                                <span class="form-text text-muted">新二维码提交是否弹出提示音。</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label">订单</label>
                                            <div class="col-3">
                                                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                    <label>
                                                        <input asp-for="NewOrder" type="checkbox" name="neworder">
                                                        <span></span>
                                                    </label>
                                                </span>
                                                <span class="form-text text-muted">商户提单时是否弹出提示音。</span>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-last row">
                                            <label class="col-3 col-form-label">订单超时</label>
                                            <div class="col-3">
                                                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                    <label>
                                                        <input asp-for="OrderTimeout" type="checkbox" name="ordertimeout">
                                                        <span></span>
                                                    </label>
                                                </span>
                                                <span class="form-text text-muted">订单超时未付款时是否弹出提示音。</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-separator kt-separator--space-lg kt-separator--fit kt-separator--border-solid"></div>
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-xl-3"></div>
                                    <div class="col-lg-9 col-xl-6">
                                        <a class="btn btn-brand btn-bold text-white" data-ktwizard-type="action-submit">提交</a>
                                        <a href="#" class="btn btn-clean btn-bold" onclick="ReturnPreviousPage()">取消</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!--End:: Tab Content-->
                </div>
            </div>
        </div>

        <!--End:: Portlet-->
    </div>

    <!-- end:: Content -->
</div>


@section Scripts{
    <script src="~/js/pages/system-configuration/edit-systemnotificationsound.js" type="text/javascript"></script>

    <script src="~/lib/metronic/dist/assets/js/pages/crud/forms/widgets/bootstrap-select.js" type="text/javascript"></script>
}

